.intro {
  /* background-color: white; */
  display: flex;

  .lefti {
    flex: 0.5;
    overflow: hidden;

    .imageContaineri {
      margin-top: 70px; /* Move image down by 20px more */
      width: 65%; /* Increase the width for a bigger image */
      height: auto;
      color: white;
      border-radius: 20%;
      display: flex;
      align-items: center; /* Center the image horizontally */
      justify-content: center; /* Center the image vertically */
      float: right;

      .imgi {
        height: 90%;
        width: 100%;
        object-fit: cover;
      }
    }
  }

  .right {
    flex: 0.5;
    overflow: hidden;
    position: relative;

    .wrapper {
      width: 100%;
      height: 100%;
      padding-left: 50px;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .h1 {
        color: goldenrod;
        font-size: 60px;
        margin: 10px 0;
      }

      .h2 {
        font-size: 35px;
        color: darkred;
      }

      .h3 {
        font-size: 30px;
        color: gray;

        .span {
          font-size: inherit;
          color: darkred;
        }

        .ityped-cursor {
          font-size: 2.2rem;
          opacity: 1;
          color: darkred;
          animation: blink1s infinite;
        }

        @keyframes blink {
          100% {
            opacity: 0;
          }
        }
      }
    }

    .a {
      position: absolute;
      bottom: 10px;
      left: 40%;

      .img {
        width: 30px;
        animation: arrowBlink 2s infinite;
      }

      @keyframes arrowBlink {
        100% {
          opacity: 0;
        }
      }
    }
  }
}

/* Media Queries */

@media only screen and (max-width: 768px) {
  .intro {
    flex-direction: column;

    .lefti {
      width: 100%;

      .imageContaineri {
        width: 65%; /* Slightly increase image size for tablets */
        margin-top: 80px; /* Move the image down more */
        height: auto;
        float: none;
        justify-content: center;
        align-items: center;
      }
    }

    .right {
      width: 100%;
      margin-top: 20px;

      .wrapper {
        padding-left: 0;
        align-items: center;
        text-align: center;
      }

      .a {
        position: static;
        margin-top: 20px;
        left: auto;
      }
    }
  }

  @media only screen and (max-width: 450px) {
    .intro {
      flex-direction: column;

      .lefti {
        width: 100%;

        .imageContaineri {
          width: 50%; /* Increase image size for small mobile screens */
          margin-top: 90px; /* Move the image down more */
          height: auto;
          float: none;
          justify-content: center;
          align-items: center;
        }
      }

      .right {
        width: 100%;
        margin-top: 20px;

        .wrapper {
          padding-left: 0;
          align-items: center;
          text-align: center;
        }

        .a {
          position: static;
          margin-top: 20px;
          left: auto;
        }
      }
    }
  }
}
